        <header>
            <div class="top-banner text-center">
                <div class="row">
                    <div class="small-12 columns">
                        <img src="img/logo.jpg" alt="logo.png" />
                        <p class="about-container">
                            <a href="about-us.html" target="_blank" class="button-look">
                                About |
                                <span>+X-XXX-XXX-XXXX</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </header>